In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read data, clean up names

df = pd.read_csv("data/PurchaseData.csv")
df = df.drop(['User ID'], axis=1)
print(df.shape)
df.describe()

(400, 4)

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [5]:
# Convert Categorical Features to numerical.
df.loc[df['Gender'] == 'Male', 'Gender'] = 0
df.loc[df['Gender'] == 'Female', 'Gender'] = 1

In [6]:
df.head()

  Gender  Age  EstimatedSalary  Purchased
0      0   19            19000          0
1      0   35            20000          0
2      1   26            43000          0
3      1   27            57000          0
4      0   19            76000          0

### Use Gender, Age and EstimatedSalary as Independent Variables - Predict 'Purchased' ###

In [ ]:
# Store relevant columns as variables
X = 
y =

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set

### Run SVM Models Using Different Kernels (linear, poly & rbf) and Show Results ###

In [ ]:
#Import svm model
from sklearn import svm
# For each of the kernels:
#     Create a svm Classifier
#     Train the model using the training sets
#     Predict the response for test dataset

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# For each of the models in the cell above:
#     Model Accuracy: how often is the classifier correct?
#     Model Precision: what percentage of positive tuples are labeled as such?
#     Model Recall: what percentage of positive tuples are labelled as such?
#     Print a Confusion Matrix