### Imports

In [ ]:
# pip install pandas

In [ ]:
import pandas as pd
import numpy as np

At the core of the pandas module, there are two important data structures: Series and DataFrame.

### Series
A series is a one dimensional array-like object that contains a sequence of values with associated labels, called the index. Each item in a series contains the same type of data which is similar to numpy's homogenous property. The data type of a series index is not limited to integers like list and other data structures.

In [ ]:
ser = pd.Series(['a','b','c'])
ser

In [ ]:
ser1 = pd.Series(('a','b','c'))
ser1

In [ ]:
ser1.index

In [ ]:
list(ser1.index)

In [ ]:
# Creating series object with index
ser2 = pd.Series(['a','b','c'],['x', 'y', 4])
ser2

In [ ]:
ser2.index

In [ ]:
# Creating series from dictinary
dict_data = {'George': 35, 'Kevin': 20, 'Michael': 26, 'Jose': 50}
ser3 = pd.Series(dict_data)
ser3

In [ ]:
ser3.index

In [ ]:
# Creating Series with data type
ser2 = pd.Series([1,200,30], index=['1', '2', '3'],dtype=np.int32)
ser2

In [ ]:
type(ser2.index)

### DataFrame
Pandas DataFrame is a 2 dimensional data structure with rows and columns. It is similar to a google sheet or excel file with more than one column.

In [ ]:
df = pd.DataFrame([[11, 20, 23], [4, 50, 6], [70, 18, 90]]) # Each inner list is a row in the dataframe
df

In [ ]:
df = pd.DataFrame([[11, 20, 23], [4, 50, 6], [70, 18, 90]],columns=['A','B','C'],index=['i1','i2','i3']) # we can assign column names
df

In [ ]:
import pandas as pd
data = {'name': ['George', 'Kevin', 'Michael', 'Jose'],
        'age': [35, 20, 26, 35],
        'height': [5.5, 4.9, 5, 5.4]}
df = pd.DataFrame(data)
df

In [ ]:
import pandas as pd
data = {'name': ['George'],
        'age': [35],
        'height': [5.4]}
df = pd.DataFrame(data)
df

In [ ]:
df1 = pd.DataFrame([(10, 22, 30), (4, 15, 16), (17, 80, 29)], columns=['A', 'B','C'],dtype=np.float64)
df1

In [ ]:
df1['B']=df1['B'].astype(np.int64)

In [ ]:
df1

In [ ]:
df1['B'].dtype

In [ ]:
type(df1['B'])

### Reading and Writing Data

In [ ]:
import numpy as np
import pandas as pd

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

[Iris Dataset](https://drive.google.com/file/d/1Aj55LWNHUOv4OCS4jXVHTq9m25Cvqp-a/view?usp=share_link)

In [ ]:
df = pd.read_csv('data/iris.csv')
df

In [ ]:
df.tail(-5)

Exporting data

In [ ]:
import pandas as pd
data = {'name': ['George', 'Kevin', 'Michael', 'Jose'],
        'age': [35, 20, 26, 30],
        'height': [5.5, 4.9, 6, 5.4]}
df = pd.DataFrame(data)
df.to_csv('data/out.csv', index=None)

In [ ]:
df.to_csv("data/out2.csv", sep='-',index=None)

In [ ]:
df2=pd.read_csv("data/out2.csv",sep="-")

In [ ]:
# You can also write only a subset of the columns, and in an order of your choosing:
df.to_csv("data/out3.csv", index=False, columns=['name', 'age'])

In [ ]:
df.head()

In [ ]:
my_var = pd.DataFrame(df['age'])

In [ ]:
type(my_var)

In [ ]:
my_var.head()

In [ ]:
df.shape

Exporting Series

In [ ]:
age_col = df['age']

In [ ]:
type(age_col)

In [ ]:
import pandas as pd
ser = pd.Series(['a','b','c','d'], index=[1, 2, 3,4])
ser

In [ ]:
ser.to_csv("out_ser.csv",index=None)

Python for Data Analysis : Chapter 5 & 6